<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <style>
            .title-info{
                text-align:left;
            }
            .menu{
                text-align:right;
            }
            li{
                display: inline-block;
                font-size: 25px;
            }

        </style>
    </head>
<body>
    <p class="title-info"style="font-size: 20px;text-align: left;">Usuário logado atualmente: {{ session['username'].title() }}</p>
    <div class="menu">
         
            <ul>
                <p style="font-size: 25px;font-weight: bold;">Cadastro</p>
                <li>Aluno</li>
                <li>Matéria</li>
                <li>Notas</li>
            </ul>
            <a href="{{ url_for('logout') }}" style="font-size: 25px;">Logout</a>
            
    </div>
    <h1 class="title-info">{% block greetings %} {% endblock %}</h1>
    <center>
        <hr>
    </center>
    <div class="breaker">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

    <div class="footer">
        <footer style="position: fixed; left:2; right: 2; width: 95%; bottom: 0;">
            <center>
                Este sistema está sendo desenvolvido por Allan(Joxbin)
            </center>
        </footer>
    </div>
</body>

</html>