<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <style>
            .title-info{
                text-align:left;
            }
            .menu{
                text-align:right;
            }
            li{
                display: inline-block;
                font-size: 25px;
            }
        </style>
    </head>
<body>
    <p class="title-info"style="font-size: 20px;text-align: left;">Usuário logado atualmente: {{ session['username'].title() }}</p>
    <div class="menu">
            <a href="{{ url_for('index') }}" style="font-size: 25px">Inicio</a>
            <ul>
                <h2>Cadastro </h2>
                <li><a href="{{ url_for('aluno') }}">Aluno</a></li>
                <li><a href="#">Matéria</a></li>
                <li><a href="#">Notas</a></li>
            </ul>
            <a href="{{ url_for('logout') }}" style="font-size: 25px;">Logout</a>
            
    </div>
    <div class="title-info">{% block greetings %} {% endblock %}</div>
    <div class="title-aluno">{% block title_aluno %} {% endblock %}</div>
    <center>
        <hr>
    </center>
    <center>
        <div class="title-register">{% block register_aluno %} {% endblock %}</div>
        <div class="form-register">{% block form_register %} {% endblock %}</div>
    </center>
    <div class="breaker">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

    <div class="footer">
        <footer style="position: fixed; left:2; right: 2; width: 95%; bottom: 0;">
            <center>
                Este sistema está sendo desenvolvido por Allan(Joxbin)
            </center>
        </footer>
    </div>
</body>

</html>