<style>
*{
    box-sizing: border-box;
}
*:focus{
    outline:none;
}
body{
    font-family: Arial;
    background-color: #E55423;
    padding: 50px;
}
.login{
    margin: 20px auto;
    width: 300px;
}
.login-screen{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}
.app-title {
    text-align: center;
    color: #777;

}
.login-form{
    text-align: center;
}
.control-group{
    margin-bottom: 10px;
}
input {
    text-align: center;
    background-color: #ecf0f1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;

}

input:focus{
    border: 2px solid #3498DB;
    box-shadow: none;
}
.btn {
    border: 2px solid transparent;
    background: #e55423;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display:block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover{
    background-color: #e55423;
}
.login-link{
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;

}
</style>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<title> Login </title>

<form action="{{ url_for('login') }}" method="POST">
<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Login 
            <br />
            <div class="msg">{{ msg }} </div>
            </h1>
        </div>
        
        <div clas="login-form">
            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="usuário" name="username">
                <label class="login-field-icon fui-lock"></label>
            </div>
            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="senha" name="password">
                <label class="login-field-icon fui-lock"></label>
            </div>
            <input type="submit" value="Entrar" class="btn btn-primary btn-large btn-block">
        </div>
    </div>
</div> 
</form>
